body, html {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.header {
	display: block;
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

.headerBack {
	width: 100%;
	background-color: #262626;
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 25px;
}

.logo {
	display: inline-block;
	float: left;
	width: 112px;
	height: 33px;
	background-image: url('13/logo.png');
}

.headerMenu {
	float: right;
	display: inline-block;
	padding-top: 7.5px;
}

.headerMenu > a {
	text-decoration: none;
	color: #d9d9d9;
	font-size: 13px;
	padding-left: 35px;
}

.headerMenu > a:first-child {
	padding-left: 0px;
}

.headerMenu > a:hover {
	color: #ffb4b1;
}

.headerMenu > a:active {
	color: #ff6760;
}

.sliderBack {
	width: 100%;
	background-color: #2a2a2a;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: -5px;
}

.slider {
	display: block;
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

.slider > h1 {
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: #d9d9d9;
	font-size: 60px;
}

.slider > p {
	color: #d9d9d9;
	text-align: center;
	font-size: 40px;
	font-weight: 100;
}

.sliderButton > a {
	font-size: 14px;
	display: inline-block;
	color: white;
	background-color: #ff6760;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	transition: 0.3s;
	padding: 15px 40px 15px 40px;
}

.sliderButton {
	text-align: center;
	font-weight: bold;
}

.sliderButton > a:hover {
	background-color: #ff756f;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
}

.sliderButton > a:active {
	background-color: #f84239;
	
}

.services {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #F8F8F8;
	text-align: center;
}

.serveicesBlock {
	display: inline-block;
	width: 235px;
	min-width: 135px;
	color: #616161;
	margin-right: 20px;
	margin-left: 20px;
}

.serveicesBlock > h1 {
	font-size: 18px;
}

.serveicesBlock > p {
	font-size: 14px;
}

.serveicesBlock > .img {
	display: inline-block;
	text-align: center;
	width: 65px;
	height: 72px;
	background: url('13/sprite.png') no-repeat 5px 0px;
}

.serveicesBlock:nth-child(2) > .img {
	background-position: -65px 0px;
}

.serveicesBlock:nth-child(3) > .img {
	background-position: -137px 0px;
}

.serveicesBlock:nth-child(4) > .img {
	background-position: -210px 0px;
}

.portfolio {
	padding-top: 60px;
	padding-bottom: 60px;
}

.portfolioBack {
	display: block;
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

.portfolio > h2 {
	text-align: center;
	color: #616161;
	font-size: 30px;
	margin: 0px;
}

.portfolio > p {
	color: #616161;
	text-align: center;
	font-size: 20px;
}

.tabbed {
	margin-top: 60px;
	text-align: center;
}

.tabbed > input {
	opacity: 0;
}

.tabbed > label {
	font-size: 12px;
	background-color: #ff6760;
	color: white;
	border-radius: 5px;
	padding: 12px 20px 12px 20px;
	text-align: center;
	display: inline-block;
	position: relative;
	transition: 0.3s;
	margin-left: -25px;
	font-weight: bold;
}

.tabbed > label:hover {
	background: #ff756f;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
}

.tabs {
	margin-top: 15px;
}

.tabbed > input:checked + label {
	background-color: #595959;
}

.tabs > div {
	transition: opacity 2s;
	left: -9999px;
	top: 0px;
	position: absolute;
	top: -9999px;
	opacity: 0;
	padding: 10px; 
}

#tabLabel1:checked ~ .tabs > div:nth-child(1),
#tabLabel2:checked ~ .tabs > div:nth-child(2),
#tabLabel3:checked ~ .tabs > div:nth-child(3),
#tabLabel4:checked ~ .tabs > div:nth-child(4) {
	left: 0;
	opacity: 1;
	position: relative;
  	top: 0px;
}

.tabbed > .tabs img {
	margin: 2px;
}

.footer {
	background-color: #313131;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.footer > h2 {
	color: #e0e0e0;
	font-size: 30px;
	margin: 0px;
}

.footer > p {
	color: #bebebe;
	font-size: 20px;
}

.contact {
	font-size: 14px;
	color: #BEBEBE;
}

.contact {
	display: inline-block;
}

.contact:first-child {
	margin-right: 30px;
}

.contact > .img {
	width: 12px;
	height: 15px;
	display: inline-block;
	background: url('13/contacts.png') no-repeat;
	margin-right: 2px;
}

.contact:nth-child(2) > .img {
	background-position: -16px 0px;
}

.copyright {
	background-color: #2c2c2c;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #BEBEBE;
	text-align: center;
}

.footerLink {
	margin-top: 25px;
}

.footerLink > a {
	display: inline-block;
	width: 33px;
	height: 33px;
	background: url('13/footerLink2.png') no-repeat -5px -11px;
	transition: 0.3s;
}

.footerLink > a:nth-child(2) {
	background-position: -42px -11px;
}

.footerLink > a:nth-child(3) {
	background-position: -79px -11px;
}

.footerLink > a:nth-child(4) {
	background-position: -116px -11px;
}

.footerLink > a:nth-child(5) {
	background-position: -153px -11px;
}

.footerLink > a:hover {
	opacity: 0.5;
}

.copyright {
	font-size: 14px;
}

@media (max-width: 550px) {
	.logo {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.header {
		text-align: center;
	}

	.headerMenu {
		float: none;
		margin: auto;
	}

	.headerMenu > a {
		padding-left: 5px;
		font-size: 15px;
	}

    .tabbed > label{
		width: auto;
        display: block;
        border-bottom: 2px solid #4d4c47;
        border-radius: 0; 
        margin-top: -20px;
        padding-left: 25px;
    }

    .tabs {
    	border: none;
    }

    .tabbed {
    	margin: 0px;
    }

    .services {
    	padding-right: 10px;
    	padding-left: 10px;
    }

    .serveicesBlock {
    	width: 100%;
    	height: auto;
    	margin: 0px;
    }

    .serveicesBlock > h3 {
    	font-size: 30px;
    }

    .serveicesBlock > p {
    	font-size: 25px;
    }
}

@media (max-width: 360px) {
	.headerMenu > a {
		padding-left: 0px;
		font-size: 18px;
		display: block;
		margin-top: 5px;
	}
}

