body, html {
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.header {
	display: block;
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

.headerBack {
	box-sizing: border-box;
	width: 100%;
	background-color: #262626;
	display: inline-block;
	padding: 25px 10px;
}

.logo {
	float: left;
	width: 112px;
	height: 33px;
	background: url('13/logo.png') no-repeat;
}

.headerMenu {
	float: right;
	padding-top: 5px;
}

.headerMenu > a {
	font-weight: 900;
	text-decoration: none;
	color: #d9d9d9;
	font-size: 13px;
	padding-left: 35px;
}

.headerMenu > a:first-child {
	padding-left: 0px;
}

.headerMenu > a:hover {
	color: #ffb4b1;
}

.headerMenu > a:active {
	color: #ff6760;
}

.sliderBack {
	width: 100%;
	background-color: #2a2a2a;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: -5px;
}

.slider {
	display: block;
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

.slider > h1 {
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: #d9d9d9;
	font-size: 60px;
	font-weight: 300;
}

.slider > p {
	color: #d9d9d9;
	text-align: center;
	font-size: 40px;
	font-weight: 100;
}

.slider > strong {
	font-weight: 900;
}

.sliderButton > a {
	font-size: 14px;
	display: inline-block;
	color: white;
	background-color: #ff6760;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	transition: 0.3s;
	padding: 15px 40px 15px 40px;
}

.sliderButton {
	text-align: center;
	font-weight: bold;
}

.sliderButton > a:hover {
	background-color: #ff756f;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
}

.sliderButton > a:active {
	background-color: #f84239;
	
}

.services {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #F8F8F8;
	text-align: center;
}

.serveicesBlock {
	display: inline-block;
	width: 260px;
	min-width: 135px;
	color: #616161;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.7;
}

.serveicesBlock > h3 {
	font-size: 18px;
	margin-bottom: 0px;
	letter-spacing: 0px;
	line-height: 1;
}

.serveicesBlock > .img {
	display: inline-block;
	text-align: center;
	width: 65px;
	height: 72px;
	background: url('13/sprite.png') no-repeat 5px 0px;
}

.serveicesBlock:nth-child(2) > .img {
	background-position: -65px 0px;
}

.serveicesBlock:nth-child(3) > .img {
	background-position: -137px 0px;
}

.serveicesBlock:nth-child(4) > .img {
	background-position: -210px 0px;
}

.portfolio {
	padding-top: 60px;
	padding-bottom: 60px;
}

.portfolioBack {
	display: block;
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

.portfolio > h2 {
	text-align: center;
	color: #616161;
	font-size: 30px;
	margin: 0px;
}

.portfolio > p {
	color: #616161;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
}

.tabbed {
	margin-top: 60px;
	text-align: center;
}

.tabbed > input {
	opacity: 0;
}

.tabbed > label {
	font-size: 12px;
	background-color: #ff6760;
	color: white;
	border-radius: 5px;
	padding: 12px 20px 12px 20px;
	text-align: center;
	display: inline-block;
	position: relative;
	transition: 0.3s;
	margin-left: -25px;
	font-weight: 900;
}

.tabbed > label:hover {
	background-color: #ff756f;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
}

.tabs {
	margin-top: 15px;
}

.tabbed > input:checked + label {
	background-color: #595959;
}

.tabs > div {
	transition: opacity 2s;
	left: -9999px;
	top: 0px;
	position: absolute;
	top: -9999px;
	opacity: 0;
	padding: 10px; 
}

#tabLabel1:checked ~ .tabs > div:nth-child(1),
#tabLabel2:checked ~ .tabs > div:nth-child(2),
#tabLabel3:checked ~ .tabs > div:nth-child(3),
#tabLabel4:checked ~ .tabs > div:nth-child(4) {
	left: 0;
	opacity: 1;
	position: relative;
  	top: 0px;
}

.tabbed > .tabs img {
	margin: 2px;
}

.footer {
	background-color: #313131;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}

.footer > h2 {
	color: #e0e0e0;
	font-size: 30px;
	margin: 0px;
}

.footer > p {
	color: #bebebe;
	font-size: 20px;
}

.contact {
	font-size: 14px;
	color: #BEBEBE;
	display: inline-block;
}

.contact > .img {
	width: 12px;
	height: 15px;
	display: inline-block;
	background: url('13/contacts.png') no-repeat;
	margin-right: 2px;
}

.contact > .imgPhone {
	background-position: -16px 0px;
	color: #BEBEBE;
	text-decoration: none;
	margin-left: 50px;
}

.contact > .imgPhone + a {
	color: #BEBEBE;
	text-decoration: none;
}

.contact > .imgPhone + a:hover {
	color: #ff756f;
}

.copyright {
	background-color: #2c2c2c;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #BEBEBE;
	text-align: center;
	font-size: 14px;
}

.footer > p {
	font-weight: 300;
}

.footerLink {
	margin-top: 25px;
}

.footerLink > a {
	display: inline-block;
	width: 33px;
	height: 33px;
	background: url('13/footerLink2.png') no-repeat;
	transition: 0.3s;
}

.footerLink > .link-rss {
	background-position: -5px -11px;
}

.footerLink > .link-fb {
	background-position: -42px -11px;
}

.footerLink > .link-tw {
	background-position: -79px -11px;
}

.footerLink > .link-dr {
	background-position: -116px -11px;
}

.footerLink > .link-pint {
	background-position: -153px -11px;
}

.footerLink > a:hover {
	opacity: 0.5;
}

@media (max-width: 620px) {
	.headerBack {
		padding: 10px 5px;
		box-sizing: border-box;
	}

	.logo {
		display: inline-block;
		background-size: 60px;
		width: 60px;
		height: 20px;
	}

	.header {
		text-align: center;
	}

	.headerMenu {
		float: none;
		padding-top: 0px;
		display: block;
		padding-left: 65px;
	}

	.headerMenu > a {
		padding-left: 5px;
		font-size: 10px;
		font-weight: 400;
		padding: 0px;
      	margin-right: calc((100% - 220px)/8);
      	margin-left: calc((100% - 220px)/8);
	}

    .headerMenu > a:last-child{
      margin-right: 0px;
    }

    .headerMenu > a:first-child {
      margin-left: 0px;
    }

	.slider > h1 {
		font-size: 30px;
	}

	.slider > p {
		font-size: 18px;
		margin-top: 5px;
	}

	.sliderBack {
		box-sizing: border-box;
		padding: 15px 5px;
	}

	.services {
		padding: 15px 10px;		
	}

	.serveicesBlock > h3 {
		margin: 0px 0px;
		padding-right: 65px;
	}

	.serveicesBlock {
		font-size: 14px;
		letter-spacing: 0px;
		line-height: 1;
   		width: 100%;
    	margin: 0px;
	}

	.serveicesBlock > p {
		text-align: justify;
		margin-left: 80px;
		margin-top: 5px;
	}

	.serveicesBlock > .img {
		float: left;
	}

	.portfolioBack {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.portfolio {
		padding: 0px;		
	}

	.portfolio > p {
		padding-left: 5px;
		padding-right: 5px;
	}

    .tabbed > label{
		width: auto;
        display: block;
        border-bottom: 2px solid #4d4c47;
        border-radius: 0; 
        margin-top: -25px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: 0px;
    }

    .tabs {
    	border: none;
    }

    .tabbed {
    	margin: 0px;
    }

    .footer {
    	padding: 15px 0px;
    }

    .footer > h2 {
    	font-size: 20px;
    }

    .footer > p {
    	font-size: 15px;
    	margin-top: 5px;
    	margin-bottom: 10px;
    }

    .footer > .contact {
    	font-size: 10px;
    }

    .contact > .imgPhone {
    	margin-left: 10px;
    }

    .footerLink {
    	margin-top: 15px;
    }

    .footerLink > a{
    	margin-left: 3%;
		margin-right: 3%;
    }

    .copyright {
    	padding: 5px 0px;
    	font-size: 10px;
    }
}

@media (max-width: 320px) {
	.logo {
		float: none;

	}

	.headerMenu {
		padding: 0px;
	}
}

@media (max-width: 300px) {
	.serveicesBlock > .img {
		display: none;
	}

	.serveicesBlock > h3 {
		padding: 0px;
		margin-bottom: 5px;
	}

	.serveicesBlock > p {
		margin: 0px 0px 10px 0px;
	}
}

@media (max-width: 250px) {
	.logo {
		float: none;
	}

	.headerMenu {
		padding: 0px;
	}

	.headerMenu > a{
		margin: 3px 0px;
		display: block;
	}

	.sliderButton > a{
		font-weight: 400;
		font-size: 10px;
		padding: 10px;
	}
}